.invisible-scroll {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.invisible-scroll .viewport {
    -fx-background-color: transparent;
}


.invisible-scroll .scroll-bar:vertical {
    -fx-opacity: 0;
    -fx-pref-width: 0;
}


.invisible-scroll .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-pref-height: 0;
}
